%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
  [
    {envy, ".*",
        {git, "https://github.com/markan/envy",         {branch, "master"}}},
    {ibrowse, ".*",
        {git, "https://github.com/chef/ibrowse",        {branch, "chef-server"}}},
    {lager, ".*",
        {git, "https://github.com/erlang-lager/lager",  {ref, "a140ea935eae9149bb35234bb40f6acf1c69caa1"}}},
    {pooler, ".*",  %% use a catch all regex and peg with a tag if neded
        {git, "https://github.com/chef/pooler",         {branch, "master"}}}
]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{profiles, [{test, [{deps,
                         [
                          {meck, ".*", {git, "https://github.com/eproxus/meck", {ref, "06192a984750070ace33b60a492ca27ec9bc6806"}}},
                          {observer_cli, ".*",
                            {git, "https://github.com/zhongwencool/observer_cli", {ref, "baa70569bccc5508e9839e20768540ef3cdca016"}}},
                          {eper, ".*",
                           {git, "https://github.com/massemanet/eper", {ref, "17b0f97ea8287b72e8ebbe7132214db182ff1a1d"}}}
                         ]}]}
           ]}.

{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors]}.


{cover_enabled, true}.
