%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
  [
   {ibrowse, ".*",
    %% Pin here, becase 555f707 (pr #155) introduces an ipv6 bug we've not fixed
    {git, "https://github.com/cmullaparthi/ibrowse.git", {ref, "c97136cfb61fcc6f39d4e7da47372a64f7fca04e"}}},
    {lager, ".*",
        {git, "https://github.com/basho/lager.git", {branch, "master"}}},
   {pooler, ".*",  %% use a catch all regex and peg with a tag if neded
     {git, "https://github.com/seth/pooler.git", {branch, "master"}}}
]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{profiles, [{test, [{deps,
                         [
                          {meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}},
                          {observer_cli, ".*",
                            {git, "https://github.com/zhongwencool/observer_cli.git", {branch, "master"}}},
                          {eper, ".*",
                           {git, "https://github.com/massemanet/eper.git", {branch, "master"}}}
                         ]}]}
           ]}.

{erl_opts, [{parse_transform, lager_transform},
            warnings_as_errors]}.


{cover_enabled, true}.
